.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
a {
    cursor: pointer;
    text-decoration: none; 
}
a:hover {
    cursor: pointer;
    text-decoration: none !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 8px;
  text-decoration: none;
  padding-left: 20px;
}
.active {
  font-weight: bold;
  color: #FFCC00;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
/* small screen */
@media(max-width: 575px){

 .nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li {
  list-style-type: none;
  padding: 2px;
  text-decoration: none;
}
}
/* Latest news styles */

.card-container {
  justify-content: center;
}

.readmore {
  text-align: center;
  color: #4207e4;
  line-height: normal;
  padding: 10px;
  letter-spacing: normal;

}

/* upcoming Event */
.event-card {
  margin: 30px;
  border-bottom-width: 1px;
  align-items: center;
  text-align: center;
border-color:rgb(204, 204, 204)

}

@media(min-width: 576px){

  .event-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
@media(max-width: 575px){

  .event-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}


.text-container {
  position: relative;
    display: flex;
    align-items: center;
    max-width: calc(100% - 200px);
}
.date-container {
  display: flex;
    align-items: center;
}
.day {
  font-size: 40px !important;
  white-space: nowrap;
  margin-right: 12px;
  margin-top: calc(0px + -.25em);
  margin-bottom: calc(0px + -0.25em);
}
.month-container {
  margin-right: 5px;
}
.month {
  font-size: 14px !important;
    white-space: nowrap;
}


/* mission section */
.large-text {
  font: normal normal normal 40px/1.4em poppins-semibold,poppins,sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    white-space: nowrap;
    text-align: center;
    letter-spacing: normal;
    margin-bottom: 0;

}
.small-text {
  text-align: center;
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
  color: #FFFFFF;
}
.mission-height {
  height: 150px ;
}


/* Badge section  */
@media (min-width: 576px){

  .badge-section-text {
    white-space: nowrap;
    text-align: center;
    letter-spacing: normal;
    margin-bottom: 0;
    font: italic normal normal 34px/1.4em avenir-lt-w01_35-light1475496,sans-serif
  }

}

@media (max-width: 575){
    .badge-section-text {
    white-space: nowrap;
    text-align: center;
    letter-spacing: normal;
    margin-bottom: 0;
  }
}


.float {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(100% - 0px);
  margin-top: 0;
  display: grid;
  z-index: 50; 
}
.float-inner{
  justify-self: end;
  align-self: center;
  position: absolute;
  background-color: rgba(14, 41, 115,1);
}
  .section-image-side-text {
     line-height: normal;
      letter-spacing: normal;;
       text-align: center;
       margin-top: 250px;
       color: rgba(85, 60, 8, 0.856);
  }
  .site-primary-bg-color {
    background-color: #000000 !important;
  }
  .site-secondary-bg-color {
    background-color: #FFCC00;
  }
  .site-tertiary-bg-color {
    background-color: #A4A4A4;
    color: white;
  }
  .site-suppliment-bg-color {
    background-color: #D2F898 ;
  }
.middle{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


@media (min-width: 576px){
  .card-container{
    padding: 0 100px;
    margin: 80px;
  }
  .latest-news-h2 {
  font: normal normal normal 70px/1.4em poppins-semibold,poppins,sans-serif;
  pointer-events: auto;
  color: #333333;
  text-align: center;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 60px 60px 0px;
}
}

@media (max-width: 575){
    .latest-news-h2 {
  font: normal normal normal 20px/1.4em poppins-semibold,poppins,sans-serif;
  pointer-events: auto;
  color: #333333;
  text-align: center;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 10px 10px 0px;
}
}
@media (min-width: 576px){
  .image-height{
    height: 525px;
    padding: 0;
  }
}

@media (max-width: 575px){
    .image-height{
    height: 525px;
    padding: 0 !important;
  }
}

@media (min-width: 576px){
  .card-columns {
      column-count: 3;
      /* -webkit-column-gap: 2.7rem; */
      -moz-column-gap: 1.25rem;
      grid-column-gap: 1.25rem;
      /* column-gap: 2.7rem !important; */
  }
}


.elmt {
  padding: 30px 0px;
  border-bottom-width: 1px;
}
._2ipfx{
  border-color: rgb(204, 204, 204);
}
._1eoat{
  border-style: solid;
  border-width: 0;
}

._5vofw{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 40px;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-top: 20px;
  margin-top: 10px;
  /* width: 100%; */
  border-style: solid;
  border-width: 0;
}
._1n3in{
  left: 0;
  transition: left .4s;
  cursor: pointer;
}
._2giuh {
  margin-left: 40px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
  height: 80px;
}
._2bogo {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 108px;
}

._3qhs {
  transition: .4s;
  max-width: calc(100%-108px);
}
._2cofy{
  min-width: 108px;
  color: rgb(0,0,0);
  font: normal normal normal 26px/1.4em avenir-lt-w01_35-light1475496,sans-serif;

}
._1pwyx {
  margin-right: 12px;
  margin-top: calc(0px + -.25em);
  margin-bottom: calc(0px + -0.25em);
}
._33jt {
  margin-right: 5px;
  margin-top: calc(0px + -.25em);
  margin-bottom: calc(0px + -0.25em);
}
.month-label {
  font-size: 14px !important;
  white-space: nowrap;
  opacity: 0.5;
}
.month-value {
  font-size: 14px !important;
  white-space: nowrap;
}

._153IM {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
}
.event-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5 !important;
  font: normal normal normal 26px/1.4em avenir-lt-w01_35-light1475496,sans-serif;

}

.event-item-location {
  color: rgb(0,0,0);
  font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
}
.register-btn{
  min-width: 100px;
  max-width: 160px;
  background-color: rgb(236, 94, 135);
  font: normal normal bold 15px/18px poppins-extralight,poppins,sans-serif;
  color: rgb(255, 255, 255);
  border: 0;
  cursor: pointer;
  margin-left: 60px;
  padding: 6px 16px;
}